<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="/css/h.css">
    <link rel="stylesheet" type="text/css" href="/css/s.css">
    <title>Tableau</title>
  </head>
  <body>
    <h1>Edit Tableau</h1>
    <form method="post" action="/<%= @paste.id %>">
      <p>
        <%=h @paste.description %>
      </p>
      <p class="languages">
        <%= select_language(@version.language) %>
      </p>
      <p>
        <textarea name="version[text]" rows="10" cols="75" placeholder="Paste here..."><%=h @version.text %></textarea>
      </p>
      <p>
        <input type="hidden" name="version[created_at]" value="<%=h Time.now.xmlschema %>">
        <input type="hidden" name="version[ip_address]" value="<%=h request.ip %>">
        <input type="hidden" name="_method" value="put">
        <input type="submit" value="Update">
      </p>
    </form>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery.placeholder.js"></script>
  </body>
</html>
