<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="/css/h.css">
    <link rel="stylesheet" type="text/css" href="/css/s.css">
    <title>Tableau</title>
  </head>
  <body>
    <h1>Tableau</h1>
    <form method="post" action="/">
      <p>
        <input type="text" name="paste[description]" placeholder="Description..."></textarea>
      </p>
      <p class="languages">
        <%= select_language %>
      </p>
      <p>
        <textarea name="version[text]" rows="10" cols="75" placeholder="Paste here..."></textarea>
      </p>
      <p>
        <input type="hidden" name="version[created_at]" value="<%=h Time.now.xmlschema %>">
        <input type="hidden" name="version[ip_address]" value="<%=h request.ip %>">
        <input type="submit" value="Paste">
      </p>
    </form>
    <% @pastes.each do |paste| %>
      <div class="paste">
        <p><em><%=h paste.description %></em> by <%=h paste.ip_address %></p>
        <%= highlight(paste.excerpt, paste.language) %>
        <p><a href="/<%= paste.id %>">See full&hellip;</a></p>
      </div>
    <% end %>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery.placeholder.js"></script>
  </body>
</html>
