<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" type="text/css" href="/css/h.css">
  <link rel="stylesheet" type="text/css" href="/css/s.css">
  <title>Tableau</title>
</head>
<body>
 <div class="container">
  <div class="block">
  Summary of recent pastes (<%= @pastes.count %>, and counting)
  <% @pastes.each do |paste| %>
  <div class="allcode-light">
   <a href="/<%= paste.id %>">View more</a> <div class="info">posted <%= timeago(paste.versions.first.created_at) %></div><br>
   <table cellpadding="0" cellspacing="0" border="0">
   <tbody>
    <tr>
     <td>
      <pre class="source-numbers"><% 5.times do |number| %><%= number + 1 %>
<% end %></pre>
   </td>
   <td>
    <pre class="source-code"><% 5.times do |i| %><%= highlight paste.versions.first.text.split("\n")[i], paste.versions.first.highlight  %><% end %></pre>
   </td>
  </tr>
  </tbody>
 </table>
 </div>
 <% end %>
 </div>
  <div class="side">
 </div>
 </div>
</body>
</html>
