<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" type="text/css" href="/css/h.css">
  <link rel="stylesheet" type="text/css" href="/css/s.css">
  <title>Tableau</title>
</head>
<body>
 <div class="container">
  <div class="block">
  <div class="allcode">
   <table cellpadding="0" cellspacing="0" border="0">
   <tbody>
    <tr>
     <td>
      <pre class="source-numbers"><% @version.text.split("\n").length.times do |number| %><%= number + 1 %>
<% end %></pre>
   </td>
   <td>
    <pre class="source-code"><%= highlight @version.text, @version.highlight %></pre>
   </td>
  </tr>
  </tbody>
 </table>
 </div>
  <a href="/edit/<%= @version.id %>">Edit</a>
 <div class="comments">
  <form id="comment" method="post" action="/<%= @version.paste_id %>/comment/<%= @version.id %>">
   <p>
    <textarea id="add_comment" name="comment[text]"></textarea>
   </p>
   <p>
    <input type="hidden" name="comment[created_at]" value="<%=h Time.now.xmlschema %>">
    <input type="submit" value="Comment">
   </p>
  </form>
  <% if @version.comments %>
   <ul id="comment">
   <% @version.comments.each do |comment| %>
    <li>
    <%= comment.text %><br />
    posted at <%= timeago(comment.created_at) %> by <%= comment.paster %>
    </li>
   <% end %>
  </ul>
  <% end %>
 </div>
 </div>
  <div class="side">
  <% if @version.paste.description %>
  <div class="description">
   <%= @version.paste.description %>
  </div>
  <% end %>
 <div class="versions">
  Versions
  <ul class="source-versions">
    <% @version.paste.versions.each do |version| %>
      <li><a href="/<%= @version.paste_id %>/<%= version.id %>"><%= timeago(version.created_at) %></a> by <%= @version.paster %></li>
    <% end %>
  </ul>
 </div>
 </div>
</body>
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript">
google.load("jquery", "1.2");
</script>
<script src="http://dev.jquery.com/~john/plugins/profile/jquery-profile.js"></script>
<script type="text/javascript" src="/js/mucur.js"></script>
<script type="text/javascript">
$(function() {
          $('textarea#add_comment').example('Add Comment');
          });
</script>
</html>
